.copy-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: var(--light-color);
  border: 1px solid var(--text-color-secondary);
  border-radius: 0.9rem;
  width: 950px;
  margin-left: 2rem;
  font-family: "Playfair Display", system-ui;
  margin-top: 4rem;
}

.text {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  font-size: 1rem;
}

.copy-section {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

#copy-input {
  font-family: "Playfair Display", system-ui;
  width: 100%;
  height: 3.25rem;
  border: 1px solid var(--text-color-primary);
  padding-left: 1rem;
  font-size: 1.1rem;
  color: var(--text-color-primary);
  background-color: transparent;
  border-radius: 0.65rem;
  transition: 0.23s ease-in-out;
}

#copy-input:focus {
  outline: none;
}

.copy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  cursor: pointer;
  border: 1px solid var(--text-color-primary);
  font-family: "Playfair Display", system-ui;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color-primary);
  border-radius: 0.6rem;
  width: 150px;
  background-color: var(--light-color);
  transition: background-color ease-in 0.23s;
}

.copy-btn:hover {
  background-color: var(--lighter-color);
}

.copy-icon {
  width: 25px;
  height: 25px;
}
